<a href="https://colab.research.google.com/github/arpit01101993/scalar_module1/blob/main/DAV5(My).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/101/215/original/clean_amazon_data.csv

--2025-06-30 15:32:38--  https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/101/215/original/clean_amazon_data.csv
Resolving d2beiqkhq929f0.cloudfront.net (d2beiqkhq929f0.cloudfront.net)... 3.169.201.143, 3.169.201.165, 3.169.201.14, ...
Connecting to d2beiqkhq929f0.cloudfront.net (d2beiqkhq929f0.cloudfront.net)|3.169.201.143|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6052052 (5.8M) [text/plain]
Saving to: ‘clean_amazon_data.csv’

clean_amazon_data.c 100%[===================>]   5.77M  --.-KB/s    in 0.1s

2025-06-30 15:32:39 (54.1 MB/s) - ‘clean_amazon_data.csv’ saved [6052052/6052052]

In [4]:
df = pd.read_csv("clean_amazon_data.csv")

In [2]:
import pandas as pd

# Create first DataFrame
df1 = pd.DataFrame({
    'first_name': ['Alice', 'Bob', 'Charlie','Alice'],
    'last_name': ['Smith', 'Jones', 'Brown','John'],
    'age': [25, 30, 35, 40]
})

# Create second DataFrame
df2 = pd.DataFrame({
    'first_name': ['Alice', 'Bob', 'David', 'Alice'],
    'last_name': ['Smith', 'Jones', 'Taylor', 'Alice'],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Sanfrancisco']
})

# Merge on two columns: 'first_name' and 'last_name'
merged_df = pd.merge(df1, df2, on=['first_name', 'last_name'], how='left')

In [5]:
mean_rating = df["rating"].mean()
print(mean_rating)

4.105998835177635

In [6]:
df["rating_filled"] = df["rating"].fillna(mean_rating)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1737 entries, 0 to 1736
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  1737 non-null   object
 1   user_id                     1737 non-null   object
 2   user_name                   1737 non-null   object
 3   review_id                   1737 non-null   object
 4   review_title                1737 non-null   object
 5   review_content              1737 non-null   object
 6   order_timestamp             1737 non-null   object
 7   product_name                1737 non-null   object
 8   category                    1724 non-null   object
 9   discounted_price            1724 non-null   float64
 10  actual_price                1729 non-null   float64
 11  rating                      1717 non-null   float64
 12  rating_count                1735 non-null   float64
 13  about_product               1737 non-null   object
 14  img_link                    1737 non-null   object
 15  product_link                1737 non-null   object
 16  review_title_uppercase      1737 non-null   object
 17  calculated_discount         1716 non-null   float64
 18  price_range                 1727 non-null   object
 19  rating_category             1717 non-null   object
 20  rating_filled               1737 non-null   float64
 21  category_filled             1737 non-null   object
 22  calculated_discount_filled  1737 non-null   float64
 23  contains_durable            1737 non-null   bool
 24  product_qid                 1737 non-null   int64
 25  week_number                 1737 non-null   int64
 26  day_name                    1737 non-null   object
 27  year                        1737 non-null   int64
 28  month                       1737 non-null   int64
 29  month_year                  1737 non-null   object
dtypes: bool(1), float64(7), int64(4), object(18)
memory usage: 395.4+ KB

In [8]:
df['category'].value_counts()

category
Computers&Accessories    647
Electronics              595
Home&Kitchen             444
OfficeProducts            31
MusicalInstruments         2
HomeImprovement            2
Toys&Games                 1
Car&Motorbike              1
Health&PersonalCare        1
Name: count, dtype: int64

In [9]:
df['category_new'] = df['category'].fillna("Other")

In [10]:
df['category_new'].value_counts()

category_new
Computers&Accessories    647
Electronics              595
Home&Kitchen             444
OfficeProducts            31
Other                     13
MusicalInstruments         2
HomeImprovement            2
Toys&Games                 1
Car&Motorbike              1
Health&PersonalCare        1
Name: count, dtype: int64

In [11]:
#date & time stamps

df["order_timestamp"].dtype

dtype('O')

In [12]:
df['order_time_converted'] = pd.to_datetime(df['order_timestamp'])

In [13]:
df['order_time_converted'].dtype

dtype('<M8[ns]')

In [14]:
df['order_time_converted'].head()

0   2023-01-01 00:00:00.000000000
1   2023-01-01 00:00:00.000000000
2   2023-01-01 00:00:00.000000000
3   2023-01-01 05:58:01.967213114
4   2023-01-01 05:58:01.967213114
Name: order_time_converted, dtype: datetime64[ns]

In [15]:
df['order_year'] = df['order_time_converted'].dt.year

In [16]:
df['order_year'].head()

0    2023
1    2023
2    2023
3    2023
4    2023
Name: order_year, dtype: int32

In [19]:
df['order_time_converted_format'] = pd.to_datetime(df['order_timestamp_converted'], format="%Y-%m-%d")

KeyError: 'order_timestamp_converted'

In [21]:
df['day_name'] = df['order_time_converted'].dt.day_name()

In [22]:
df['day_name'].head()

0    Sunday
1    Sunday
2    Sunday
3    Sunday
4    Sunday
Name: day_name, dtype: object

In [23]:
df['month_year'] = df['order_time_converted'].dt.strftime('%B %Y')
df['month_year'].head()

0    January 2023
1    January 2023
2    January 2023
3    January 2023
4    January 2023
Name: month_year, dtype: object

In [24]:
df.to_csv('clean_amazon_data1.csv', index= False)

In [25]:
!wget https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/101/215/original/clean_amazon_data.csv

--2025-06-30 16:04:59--  https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/101/215/original/clean_amazon_data.csv
Resolving d2beiqkhq929f0.cloudfront.net (d2beiqkhq929f0.cloudfront.net)... 3.167.84.28, 3.167.84.148, 3.167.84.9, ...
Connecting to d2beiqkhq929f0.cloudfront.net (d2beiqkhq929f0.cloudfront.net)|3.167.84.28|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6052052 (5.8M) [text/plain]
Saving to: ‘clean_amazon_data.csv.1’

clean_amazon_data.c 100%[===================>]   5.77M  27.1MB/s    in 0.2s

2025-06-30 16:04:59 (27.1 MB/s) - ‘clean_amazon_data.csv.1’ saved [6052052/6052052]